@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
  --color-button: var(--color-button);
}

:root {
  --color-primary: #E8EBF7;
  --color-secondary: #333333;
  --color-tertiary: #B8C2CC;
  --color-button: #004091;
}

.dark {
  
}
